@using BlazorApp.Client.Services
@using SMS.DataAccess.Data.Interfaces.Message
@using SMS.DataAccess.Models.Chat.Request
@using SMS.DataAccess.Models.Chat.Response

@inject IMessage _message
@inject SignalRService signalRService
@inject IJSRuntime JSRuntime
@inject IToastService ToastService
@implements IDisposable

<div>
    @foreach (var item in parentMessageModels)
    {
        <Card Class="my-2">
            <CardBody Class="@(ActiveMessageId == item.MessageId ? "bg-secondary rounded" : "")" @onclick="async () => await NewChatOpen(item)">
                @if (item.UnreadCount > 0)
                {
                    <Badge Color="BadgeColor.Danger"
                    Position="Position.Absolute"
                    Placement="BadgePlacement.TopRight"
                    IndicatorType="BadgeIndicatorType.RoundedPill"
                    VisuallyHiddenText="unread messages">
                        @item.UnreadCount
                    </Badge>
                }
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-2">
                        @if (string.IsNullOrEmpty(item.UserPhoto))
                        {
                            <img style="height:25px; width:25px; border-radius:50%;" src="Images/default-profile.jpg" alt="img" />
                        }
                        else
                        {
                            <img style="height:25px; width:25px; border-radius:50%;" src="data:image/jpeg;base64, @item.UserPhoto" alt="img" />
                        }
                        <div>
                            <div>
                                <b>@item.UserName</b>
                            </div>
                            <i>
                                @if (item.Topic.Length > 10)
                                {
                                    @string.Concat(item.Topic.Substring(0, 10), "..")
                                }
                                else
                                {
                                    @item.Topic
                                }
                            </i>
                        </div>
                    </div>
                    <div>
                        <h6 class="m-0">
                            @(item.UserRole == Roles.SuperAdmin.GetDescription() ? "Sup Admin" : item.UserRole)
                        </h6>
                    </div>
                </div>
            </CardBody>
        </Card>
    }
</div>

@code {
    private string Message = default!;
    [Parameter] public int UserId { get; set; }
    [Parameter] public int ActiveMessageId { get; set; }
    [Parameter] public EventCallback<ParentMessageModel> ParentMessageId { get; set; }
    [Parameter] public bool MessageListRefresh { get; set; } = false;
    [Parameter] public KeyValuePair<bool, MessageModel> MessageRefreshChat { get; set; }
    [Parameter] public EventCallback OnRefreshCompleted { get; set; }
    private IEnumerable<ParentMessageModel> parentMessageModels = Enumerable.Empty<ParentMessageModel>();

    protected override async Task OnInitializedAsync()
    {
        var reqData = new ChatListReq() { UserId = UserId };
        var res = await _message.GetParentMessageListAsync(reqData);
        if (res.Result)
        {
            parentMessageModels = res.Data;
            await NewChatOpen(parentMessageModels.First());
        }
        signalRService.MessageReceived += OnMessageReceived;
        signalRService.MessageChatEnd += OnChatComplete;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (MessageListRefresh)
        {
            parentMessageModels = parentMessageModels.Where(x => x.MessageId != ActiveMessageId).ToList();
            ToastService.ShowSuccess(string.Format(SystemMessage.deleteSuccesfully, "Chat"));
            if (parentMessageModels.Any())
            {
                await NewChatOpen(parentMessageModels.First());
            }
            await OnRefreshCompleted.InvokeAsync();
        }
        if(MessageRefreshChat.Key == true){
            var parentMessageList = parentMessageModels.ToList();
            var openChat = parentMessageList.FirstOrDefault(x => x.MessageId == ActiveMessageId);
            if (openChat != null)
            {
                openChat.Topic = MessageRefreshChat.Value.Message;
                if(parentMessageList.FirstOrDefault()?.MessageId != ActiveMessageId){
                    parentMessageList.Remove(openChat);
                    parentMessageList.Insert(0, openChat);
                    await JSRuntime.InvokeVoidAsync(JsStaticFun.scrollToTop, "card-chatList");
                }
            }
            parentMessageModels = parentMessageList;
            await OnRefreshCompleted.InvokeAsync();
        }
    }

    private async Task NewChatOpen(ParentMessageModel message)
    {
        ActiveMessageId = message.MessageId;
        var parentMessageList = parentMessageModels.ToList();
        var openChat = parentMessageList.FirstOrDefault(x => x.MessageId == message.MessageId);
        if (openChat != null)
        {
            openChat.UnreadCount = 0;
        }
        parentMessageModels = parentMessageList;
        await ParentMessageId.InvokeAsync(message);
    }

    public void OnMessageReceived(MessageResponseDTO message)
    {
        if (message.ParentMessageId != ActiveMessageId && parentMessageModels.Any())
        {
            var targetUser = parentMessageModels.FirstOrDefault(x => x.MessageId == message.ParentMessageId);
            if (targetUser != null)
            {
                targetUser.UnreadCount++;
                targetUser.Topic = message.Message;
            }
            parentMessageModels = parentMessageModels.OrderByDescending(x => x.UnreadCount);
            StateHasChanged();
        }
    }

    public async void OnChatComplete(int parentMessageId)
    {
        parentMessageModels = parentMessageModels.Where(x => x.MessageId != parentMessageId).ToList();
        if (ActiveMessageId == parentMessageId)
        {
            if (parentMessageModels.Any())
            {
                await NewChatOpen(parentMessageModels.First());
            }
        }
        else
        {
            StateHasChanged();
        }
    }

    void IDisposable.Dispose()
    {
        signalRService.MessageReceived -= OnMessageReceived;
        signalRService.MessageChatEnd -= OnChatComplete;
    }

}
